@import '../../styles/variables.scss';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 40px;
  // background: $backgroundColor;
  font-family: $primaryFont;
}

.logo {
  display: flex;
  align-items: center;
  color: $primaryColor2;
  font-size: 30px;
  font-weight: 500;
  cursor: pointer;
}

.icon {
  color: $secondaryColor;
  margin-right: 10px;
}

.button {
  background: $primaryGradient;
  color: $headersColor;
}

.contacts {
  display: block;
  color: $textColor;
  margin-right: 30px;
}