$primaryColor:#93c5fd;
$backgroundColor:#0f172a;
$secondaryColor:#5EEAD4;
$headersColor:#475569;
$textColor:#94A3B8;

$primaryGradient: linear-gradient(45deg, $primaryColor, $secondaryColor);

$primaryFont: Roboto;