.header {
    display: flex;
    position: relative;
}

.image {
    position: relative;
    display: flex;
    flex: 2;
}

.slogan {
    display: flex;
    align-items: flex-end;
    padding: 20px;
}

.circle {
    margin-bottom: 7px;
}

.subheader {
    padding: 40px;
    text-align: center;
}